.text {
    width: 70%;
    max-width: 500px;
    min-width: 200px;
    background: #fff5e5;
    padding: 10px;
    white-space: pre-line;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    min-height: 400px;
}